/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
    /*========== Colors ==========*/
    --light: #FCEEE5;
    --dark: #0E1A47;
    --green: #216961;
    --orange: #DA5B14;
    --yellow: #F9A72C;
    --latte: #F0DFD4;
    --cappucino: #82766E;
  
    /*========== Font and typography ==========*/
    --body-font: 'Fredoka', sans-serif;
    --big-font-size: 3rem; /*48px*/
    --heading-font-size: 2.25rem; /*36px*/
    --text-font-size: 1.5rem; /*24px*/
  
    /*========== Font weight ==========*/
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
}

/*=============== BASE ===============*/
/* Universal selector */
* {
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    margin: 0; /* Set margin to 0 */
    padding: 0; /* Set padding to 0 */
    font-family: var(--body-font);
}

html {
    scroll-behavior: smooth; /* Enable smooth scrolling */
    min-width: 100%; /* Set the minimum width of the body to 100% */
}

body {
    background-color: var(--light);
    min-height: 100vh; /* Set the minimum height of the body to 100 viewport height */
    line-height: 1.5; /* Set the line height for text */
    min-width: 100%;
}

/*=============== HEADER ===============*/
header {
    position: fixed; /* Fixed position at the top */
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: var(--green);
    /* Compatibility with older browsers */
    display: -webkit-box;  /* Old - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: space-between; /* Space elements evenly */
    align-items: center; /* Align items vertically at the center */
    transition: 0.6s; /* Add a transition effect */
    z-index: 100; /* Stack above other elements */
}

.logo {
    font-weight: var(--font-bold);
    color: var(--light);
    text-decoration: none; /* Remove underline from links */
    font-size: var(--big-font-size);
    transition: 0.3s; /* Add a transition effect */
}

.logo:hover {
    color: var(--yellow); /* Change text color on hover to the defined yellow color */
}

.navbar a {
    margin-left: 2.5rem;
    transition: 0.3s;
}

.navbar__icons {
    display: flex;
    align-items: center;
}

/*=============== BREAKPOINTS HEADER ===============*/ /* For smaller screen sizes*/
@media (max-width: 992px) {
    header {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 480px) {
    .logo {
        font-size: var(--heading-font-size);
    }
}

/*=============== MAIN ===============*/
main {
    margin-top: 90px;
}

.photo {
    height: 250px;
    background-image: url(/images/blonia.jpg);
    background-position: center;
    background-size: cover;
}

.photo2 {
    height: 250px;
    background-image: url(/images/park-jordana.jpg);
    background-position: center;
    background-size: cover;
}

.main__label {
    display: flex;
    justify-content: space-between;
    font-size: var(--text-font-size);
    margin: 20px 20px;
}

.main__label h2 {
    font-weight: var(--font-medium);
}

.main__description {
    margin: 20px 20px;
}

.main__description h3 {
    font-size: 20px;
    font-weight: var(--font-medium);
    margin-bottom: 20px;
}

.main__description p {
    font-size: 16px;
}

/* ----- BUTTONS ----- */
.main__buttons {
    margin: 50px 20px;
    display: flex;
    justify-content: space-evenly;
}

.main__buttons button {
    cursor: pointer;
    color: var(--light);
    font-size: 20px;
    font-weight: var(--font-semi-bold);
    background: var(--orange);
    padding: 10px 20px;
    border: solid; /* Add a solid border */
    border-color: var(--orange);
    border-radius: 37px; /* Add border-radius for rounded corners */
}

.main__buttons button:hover {
    color: var(--orange);
    background: none;
    border: solid;
}

/* ----- ARTICLE ----- */
.main__info {
    margin: 20px;
    margin-bottom: 50px;
}

.main__info h3 {
    font-size: 20px;
    font-weight: var(--font-medium);
    margin: 20px 0;
}

.main__info li {
    margin: 15px;
}
.main__info p {
    font-size: 16px;
}

/*=============== CAROUSEL SECTION ===============*/
.carousel {
    margin-left: 20px;
    margin-bottom: 10%;
}

.carousel h1 {
    font-size: var(--text-font-size);
    font-weight: var(--font-medium);
    margin-top: 20px;
}

.gallery {
	padding: 1rem;
	display: grid;
	grid-template-columns: repeat(10, 20vw); /* Create 10 columns with 20vw width each */
	grid-template-rows: 1fr; /* Create one row that takes up the remaining height */
	grid-column-gap: 1rem; /* Add horizontal gap between grid items */
	grid-row-gap: 1rem; /* Add vertical gap between grid items */
	overflow: scroll; /* Enable scrolling for the gallery container */
	height: 40vh; /* Set the height of the gallery container */
	scroll-snap-type: both mandatory; /* Enable scroll snapping in both directions */
	scroll-padding: 1rem; /* Add padding for smoother scrolling */
}

.active {
	scroll-snap-type: unset; /* Disable scroll snapping for the active area */
}

.carousel li {
	scroll-snap-align: center; /* Align list items to the center during scrolling */
	display: inline-block; /* Display list items as inline-block for horizontal layout */
	border-radius: 5px;
	font-size: 0; /* Set font size to 0 to remove any unwanted space between items */
    background-position: center;
    background-size: cover;
}

#photo1 {
    background-image: url(/images/user-photo1.jpg);
}

#photo2 {
    background-image: url(/images/user-photo2.jpg);
}

#photo3 {
    background-image: url(/images/park-jordana.jpg);
}

#photo4 {
    background-image: url(/images/user-photo4.jpg);
}

#photo5 {
    background-image: url(/images/zakrzowek.png);
}

/*=============== BREAKPOINTS CAROUSEL SECTION ===============*/
@media (max-width: 992px) {
    .gallery {
        grid-template-columns: repeat(10, 30vw);
        height: 30vh;
    }
}

@media (max-width: 480px) {
    .gallery {
        grid-template-columns: repeat(10, 40vw);
        height: 25vh;
        margin-bottom: 30%;
    }

    .carousel h1 {
        font-size: var(--text-font-size);
    }
}

/*=============== FOOTER ===============*/
footer {
    position: fixed; /* Fixed position at the top */
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 5%;
    background-color: var(--green);
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; 
    transition: 0.6s; /* Add a transition effect */
    z-index: 100; /* Stack above other elements */
}

.space__left {
    margin-left: 2.5rem;
    transition: 0.3s;
}

.footer__icons {
    display: flex;
    align-items: center;
}