/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
    /*========== Colors ==========*/
    --light: #FCEEE5;
    --dark: #0E1A47;
    --green: #216961;
    --orange: #DA5B14;
    --yellow: #F9A72C;
    --latte: #F0DFD4;
    --cappucino: #82766E;
  
    /*========== Font and typography ==========*/
    --body-font: 'Fredoka', sans-serif;
    --big-font-size: 3rem; /*48px*/
    --heading-font-size: 2.25rem; /*36px*/
    --text-font-size: 1.5rem; /*24px*/
  
    /*========== Font weight ==========*/
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--light);
    min-height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    background-color: var(--green);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    z-index: 100;
}

.logo {
    font-weight: var(--font-bold);
    color: var(--light);
    text-decoration: none;
    font-size: var(--big-font-size);
    transition: 0.3s;
}

.navbar a {
    font-size: var(--text-font-size);
    color: var(--light);
    text-decoration: none;
    font-weight: var(--font-regular);
    margin-left: 2.5rem;
}

#check {
    display: none;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: var(--light);
    cursor: pointer;
    display: none;
}

/*=============== BREAKPOINTS ===============*/
@media (max-width: 992px) {
    header {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 1000px) {
    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: var(--yellow);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
        transition: 0.3s ease;
        overflow: hidden;
        font-size: var(--text-font-size);
    }
    
    #check:checked~.navbar {
        height: 23rem;
    }

    .navbar a {
        display: block;
        font-size: var(--heading-font-size);
        color: var(--dark);
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        transition: .3s ease;
    }
    
    #check:checked~.navbar a {
        transform: translateY(0);
        transition-delay: calc(.15s * var(--i));
    }
}