/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
    /*========== Colors ==========*/
    --light: #FCEEE5;
    --dark: #0E1A47;
    --green: #216961;
    --orange: #DA5B14;
    --yellow: #F9A72C;
    --latte: #F0DFD4;
    --cappucino: #82766E;
  
    /*========== Font and typography ==========*/
    --body-font: 'Fredoka', sans-serif;
    --big-font-size: 3rem; /*48px*/
    --heading-font-size: 2.25rem; /*36px*/
    --text-font-size: 1.5rem; /*24px*/
  
    /*========== Font weight ==========*/
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
}

/*=============== BASE ===============*/
/* Universal selector */
* {
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    margin: 0; /* Set margin to 0 */
    padding: 0; /* Set padding to 0 */
    font-family: var(--body-font);
}

html {
    scroll-behavior: smooth; /* Enable smooth scrolling */
    padding-top: 100px;
    min-width: 100%; /* Set the minimum width of the body to 100% */
}

body {
    background-color: var(--light);
    min-height: 100vh; /* Set the minimum height of the body to 100 viewport height */
    line-height: 1.5; /* Set the line height for text */
    min-width: 100%;
}

header {
    position: fixed; /* Fixed position at the top */
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    background-color: var(--green);
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space elements evenly */
    align-items: center; /* Align items vertically at the center */
    transition: 0.6s; /* Add a transition effect */
    z-index: 100; /* Stack above other elements */
}

/*
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky + .main {
    padding-top: 130px;
}
*/

.logo {
    font-weight: var(--font-bold);
    color: var(--light);
    text-decoration: none; /* Remove underline from links */
    font-size: var(--big-font-size);
    transition: 0.3s; /* Add a transition effect */
}

.logo:hover {
    color: var(--yellow); /* Change text color on hover to the defined yellow color */
}

.navbar a {
    font-size: var(--text-font-size);
    color: var(--light);
    text-decoration: none;
    font-weight: var(--font-regular);
    margin-left: 2.5rem;
    transition: 0.3s;
}

.navbar a:hover {
    color: var(--yellow);
}

.navbar span a {
    color: var(--dark);
    font-weight: var(--font-semi-bold);
    background: var(--yellow);
    padding: 10px 20px;
    border: solid; /* Add a solid border */
    border-color: var(--yellow);
    border-radius: 37px; /* Add border-radius for rounded corners */
}

.navbar span a:hover {
    color: var(--yellow);
    background: none;
    border: solid;
}

#check {
    display: none; /* Hide the checkbox */
}

.icons {
    position: absolute; /* Absolute positioning */
    right: 5%; /* Distance from the right */
    font-size: 2.8rem;
    color: var(--light);
    cursor: pointer; /* Change cursor to pointer on hover */
    display: none; /* Hide the icons by default */
}

/*=============== BREAKPOINTS HEADER ===============*/ /* For smaller screen sizes*/
@media (max-width: 992px) {
    header {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 1020px) {
    .icons {
        display: inline-flex; /* Display icons as inline-flex at smaller screen sizes */
    }

    #check:checked~.icons #menu-icon {
        display: none; /* Hide the menu icon when the checkbox is checked */
    }

    .icons #close-icon {
        display: none; /* Hide the close icon by default */
    }

    #check:checked~.icons #close-icon {
        display: block; /* Display the close icon when the checkbox is checked */
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: var(--yellow);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3); /* Adds a subtle shadow below the element */
        transition: 0.3s ease; /* Smooth transition effect over 0.3 seconds with ease-in-out timing function */
        overflow: hidden; /* Hides content that exceeds the box dimensions, preventing scrollbars */
        font-size: var(--text-font-size);
    }
    
    #check:checked~.navbar {
        height: 21rem; /* height of the drop-down yellow navbar */
    }

    .navbar a {
        display: block;
        font-size: var(--text-font-size);
        color: var(--dark);
        margin: 1.5rem 0;
        text-align: center; /* Aligns the text to the center of its container */
        transform: translateY(-50px); /* Moves the element vertically up by 50 pixels */
        transition: .3s ease;
    }
    
    .navbar span a:hover {
        border-color: none;
        color: var(--dark);
    }

    .navbar a:hover {
        color: var(--dark);
    }

    /* When the checkbox with the ID 'check' is checked, apply the following styles to the links inside the navbar */
    #check:checked~.navbar a {
        transform: translateY(0); /* Resets the vertical translation, bringing the element back to its original position */
        transition-delay: calc(.15s * var(--i)); /* Delays the transition effect, creating a staggered animation based on a custom variable --i */
    }
}

/*=============== MAIN ===============*/
.main__container {
    display: grid; /* Enables grid layout for the container */
    grid-template-columns: 1fr 500px; /* Defines two columns in the grid layout, the first taking 1 fraction of the available space and the second having a fixed width of 500 pixels */
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    z-index: 1;
    width: 100%;
    max-width: 1900px;
    padding: 0 100px;
    color: var(--dark);
}

.main__content h1 {
    font-size: 6rem; /* 96px */
    font-weight: var(--font-regular);
}

.main__content h2 {
    font-size: 3rem; /* 48px */
    font-weight: var(--font-regular);
}

.main__content h2 span {
    font-weight: var(--font-bold);
}

.main__content h3 {
    padding-top: 50px;
    font-size: var(--heading-font-size);
    font-weight: var(--font-regular);
    line-height: 1.3;
}

.wrapper {
    margin-top: 50px;
    padding: 40px 40px;
    border-radius: 20px;
    background-color: var(--latte);
    width: 60%;
}

.forbutton {
    text-align: right;
}

.wrapper button {
    color: var(--light);
    font-weight: var(--font-semi-bold);
    background: var(--orange);
    padding: 10px 20px;
    border: solid;
    border-color: var(--orange);
    border-radius: 37px;
    font-size: var(--text-font-size);
    text-decoration: none;
    margin-top: 50px;
}

.wrapper button:hover {
    color: var(--orange);
    background: none;
    border: solid;
    transition: .3s ease;
}


.wrapper p {
    font-size: var(--text-font-size);
    font-weight: var(--font-regular);
}

.image__container {
    text-align: center;
}

#main__img {
    height: 80%;
    width: 80%;
}

/*=============== BREAKPOINTS MAIN ===============*/
@media (max-width: 1300px) {
    .main__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
        padding: 0 50px;
    }

    .main__content {
        text-align: center;
        margin-top: 4rem;
    }

    .main__content h1 {
        font-size: 3rem;
        margin-top: 2rem;
    }

    .main__content h3 {
        margin-right: 50px;
    }
    
    .wrapper {
        width: 80%;
        margin: auto;
        margin-top: 50px;
    }

    .forbutton {
        text-align: center;
    }

    .image__container {
        margin-top: 50px;
    }

    @media (max-width: 480px) {
        .main__content h1 {
            margin-right: 30px;
        }

        .main__content h2 {
            font-size: 2rem;
            margin-top: 0;
            margin-right: 30px;
        }

        .main__content h3 {
            font-size: 1.5rem;
            margin-top: 0;
            margin-right: 50px;
        }

        .wrapper {
            margin-right: 80px;
        }
    }
}
   
/*=============== SECTION ===============*/
.section__container {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center; /* Aligns the container's contents along the horizontal axis (in a grid) to the center */
    margin: 0 auto;
    z-index: 1;
    width: 100%;
    max-width: 1900px;
    padding: 0 100px;
}

section h2 {
    font-size: 64px;
    font-weight: var(--font-semi-bold);
    color: var(--dark);
    text-align: center;
    margin-top: 100px;
    margin-bottom: 70px;
}

.section__content {
    display: flex;
    justify-content: center;
}

.section__buttons {
    display: flex;
    justify-self: center;
    flex-direction: column;
}

.section__buttons img {
    margin-bottom: 10px;
}

#logo__icon {
    margin: auto;
    margin-bottom: 50px;
}

/*=============== BREAKPOINTS SECTION ===============*/
@media (max-width: 1300px) {
    .section__container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        padding: 0 50px;
    }

    section h2 {
        margin-top: 700px;
    }

    #mockup {
        margin-top: 100px;
    }
}

@media (max-width: 480px) {
    section h2 {
        font-size: var(--heading-font-size);
        margin-top: 700px;
    }

    #mockup {
        margin-top: 100px;
        height: 300px;
    }
}



/*=============== FOOTER ===============*/
.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex; /* Enables a flex container to align child elements */
    flex-wrap: wrap; /* Allows flex items to wrap onto multiple lines when there's insufficient space */
}

ul {
    list-style: none; /* Removes the default styling (bullets or numbers) of an unordered or ordered list */
}

.footer {
    background-color: var(--green);
    padding: 70px 0;
}

.footer__column {
    width: 25%;
    padding: 0 15px;
}

.footer__column h4 {
    font-size: var(--text-font-size);
    font-weight: var(--font-regular);
    color: var(--light);
    margin-bottom: 35px;
    position: relative; /* The element is positioned relative to its normal position in the document flow */
}

.footer__column ul li a {
    font-size: 20px;
    color: var(--light);
    font-weight: var(--font-light);
    text-decoration: none;
    display: block;
    transition: all .3s ease;
}

.footer__column ul li a:hover {
    color: var(--yellow)
}

/*=============== BREAKPOINTS FOOTER ===============*/
@media (max-width: 1030px) {
    .footer__column {
        width: 50%;
        padding: 0 15px;
        margin-bottom: 30px;
    }
}

@media (max-width: 547px) {
    .footer__column {
        width: 100%;
    }
}