/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
    /*========== Colors ==========*/
    --light: #FCEEE5;
    --dark: #0E1A47;
    --green: #216961;
    --orange: #DA5B14;
    --yellow: #F9A72C;
    --latte: #F0DFD4;
    --cappucino: #82766E;
  
    /*========== Font and typography ==========*/
    --body-font: 'Fredoka', sans-serif;
    --big-font-size: 3rem; /*48px*/
    --heading-font-size: 2.25rem; /*36px*/
    --text-font-size: 1.5rem; /*24px*/
  
    /*========== Font weight ==========*/
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
}

html {
    scroll-behavior: smooth;
    padding-top: 100px;
}

body {
    background-color: var(--light);
    min-height: 100vh;
    line-height: 1.5;
}

header {
    position: absolute; /* relative */
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    background-color: var(--green);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    z-index: 100;
}

/*
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky + .main {
    padding-top: 130px;
}
*/

.logo {
    font-weight: var(--font-bold);
    color: var(--light);
    text-decoration: none;
    font-size: var(--big-font-size);
    transition: 0.3s;
}

.logo:hover {
    color: var(--yellow);
}

.navbar a {
    font-size: var(--text-font-size);
    color: var(--light);
    text-decoration: none;
    font-weight: var(--font-regular);
    margin-left: 2.5rem;
    transition: 0.3s;
}

.navbar a:hover {
    color: var(--yellow);
}

.navbar span a {
    color: var(--dark);
    font-weight: var(--font-semi-bold);
    background: var(--yellow);
    padding: 10px 20px;
    border: solid;
    border-color: var(--yellow);
    border-radius: 37px;
}

.navbar span a:hover {
    color: var(--yellow);
    background: none;
    border: solid;
}

#check {
    display: none;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: var(--light);
    cursor: pointer;
    display: none;
}

/*=============== BREAKPOINTS HEADER ===============*/
@media (max-width: 992px) {
    header {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 1020px) {
    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: var(--yellow);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
        transition: 0.3s ease;
        overflow: hidden;
        font-size: var(--text-font-size);
    }
    
    #check:checked~.navbar {
        height: 21rem;
    }

    .navbar a {
        display: block;
        font-size: var(--text-font-size);
        color: var(--dark);
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        transition: .3s ease;
    }
    
    .navbar span a:hover {
        border-color: none;
        color: var(--dark);
    }

    .navbar a:hover {
        color: var(--dark);
    }

    #check:checked~.navbar a {
        transform: translateY(0);
        transition-delay: calc(.15s * var(--i));
    }
}

/*=============== MAIN ===============*/
.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
    color: var(--dark);
}

.main__content h1 {
    font-size: 6rem; /* 96px */
    font-weight: var(--font-regular);
}

.main__content h2 {
    font-size: 3rem; /* 48px */
    font-weight: var(--font-regular);
}

.main__content h2 span {
    font-weight: var(--font-bold);
}

.main__content h3 {
    padding-top: 50px;
    font-size: var(--heading-font-size);
    font-weight: var(--font-regular);
}

.wrapper {
    margin-top: 50px;
    padding: 40px 40px;
    border-radius: 20px;
    background-color: var(--latte);
}

.wrapper button {
    color: var(--light);
    font-weight: var(--font-semi-bold);
    background: var(--orange);
    padding: 10px 20px;
    border: solid;
    border-color: var(--orange);
    border-radius: 37px;
    font-size: var(--text-font-size);
    text-decoration: none;
}

.wrapper button:hover {
    color: var(--orange);
    background: none;
    border: solid;
    transition: .3s ease;
}


.main__content p {
    font-size: var(--text-font-size);
    font-weight: var(--font-regular);
}

/*=============== FOOTER ===============*/
.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: var(--green);
    padding: 70px 0;
}

.footer__column {
    width: 25%;
    padding: 0 15px;
}

.footer__column h4 {
    font-size: var(--text-font-size);
    font-weight: var(--font-regular);
    color: var(--light);
    margin-bottom: 35px;
    position: relative;
}

.footer__column ul li a {
    font-size: 20px;
    color: var(--light);
    font-weight: var(--font-light);
    text-decoration: none;
    display: block;
    transition: all .3s ease;
}

.footer__column ul li a:hover {
    color: var(--yellow)
}

/*=============== BREAKPOINTS FOOTER ===============*/
@media (max-width: 1030px) {
    .footer__column {
        width: 50%;
        padding: 0 15px;
        margin-bottom: 30px;
    }
}

@media (max-width: 547px) {
    .footer__column {
        width: 100%;
    }
}